* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  height: 300px;
  width: 300px;
  padding: 30px;
  border:2px solid     rgb(15, 18, 43);
  border-radius: 25px 0 25px 0;
  background-color: #678d32;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
/* 
header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.output {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.logo {
  height: 50px;
  margin-right: 20px;
}

.heading {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  color:ivory;
}

.convert-button {
  width: 50%;
  height: 30px;
  background-color:rgb(15, 18, 43);
  color: ivory;
}

/* @media screen and(min-width: 1024px){
  .container{
    width: 50%;
  }

} */